<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon"></link>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/controls.css') }}"></link>
  <title>Bot</title>
</head>
<body>
  <div class="keypad">
    <table>
	  <tr>
	    <td><button class="forward_left" onclick="botcmd(cmdEnum.FWD_LF)"/></td>
	    <td><button class="forward" onclick="botcmd(cmdEnum.FWD)" /></td>
	    <td><button class="forward_right" onclick="botcmd(cmdEnum.FWD_RT)" /></td>
	  </tr>
	  <tr>
	    <td><button class="left" onclick="botcmd(cmdEnum.LF)" /></td>
		<td></td>
		<td><button class="right" onclick="botcmd(cmdEnum.RT)" /></td>
	  </tr>
	  <tr>
	    <td><button class="reverse_left" onclick="botcmd(cmdEnum.REV_LF)" /></td>
	    <td><button class="reverse" onclick="botcmd(cmdEnum.REV)" /></td>
		<td><button class="reverse_right" onclick="botcmd(cmdEnum.REV_RT)" /></td>
	  </tr>
	</table>
  <div>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-3.1.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/controller.js') }}"></script>
</body>
</html>