<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon"></link>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/controls.css') }}"></link>
  <title>Bot</title>
</head>
<body>
  <div class="keypad">
    <table>
	  <tr>
	    <td><button class="btn_mv" id="FWDLF">FWDLF</button></td>
	    <td><button class="btn_mv" id="FWD">FWD</button></td>
	    <td><button class="btn_mv" id="FWDRT">FWDRT</button></td>
	  </tr>
	  <tr>
	    <td><button class="btn_mv" id="LF">LF</button></td>
		<td></td>
		<td><button class="btn_mv" id="RT">RT</button></td>
	  </tr>
	  <tr>
	    <td><button class="btn_mv" id="REVLF">REVLF</button></td>
	    <td><button class="btn_mv" id="REV">REV</button></td>
		<td><button class="btn_mv" id="REVRT">REVRT</button></td>
	  </tr>
	</table>
  <div>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-3.1.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/controller.js') }}"></script>
</body>
</html>